*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-container{
  width: 100%;
  height: 100vh;
}

.todo-container{
  height: 500px;
}

.mybutton{
  width: 80px !important;
}



/***** Margin  ******/

.mt-6,
.pt-6{
   margin-top: 24px !important;
}

.mb-6,
.pb-6{
   margin-bottom: 24px !important;
}

.ms-6,
.ms-6{
   margin-right: 24px !important;
}

.me-6,
.me-6{
   margin-left: 24px !important;
}

.mt-7,
.pt-7{
   margin-top: 28px !important;
}

.mb-7,
.pb-7{
   margin-bottom: 28px !important;
}

.ms-7,
.ms-7{
   margin-right: 28px !important;
}

.me-7,
.me-7{
   margin-left: 28px !important;
}


.mt-8,
.pt-8{
   margin-top: 32px !important;
}

.mb-8,
.pb-8{
   margin-bottom: 32px !important;
}

.ms-8,
.ms-8{
   margin-right: 32px !important;
}

.me-8,
.me-8{
   margin-left: 32px !important;
}